{% extends 'base.html' %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <a href="/">
        <img src="http://systechchile.cl/Images/dual_logo.png" class="img-fluid" />
      </a>
    </div>
  </div>

  <div class="card card-block" style="padding: 8px">
    <h2 class="card-text">
      Depreciación Activos Acumulada
      <a href="/home" class="btn btn-primary btn-sm float-right" style="width: 100px">Menú</a>
    </h2>
  </div>
</div>

<div style="margin: 0 40px 0 40px">
  <div class="card card-block mt-3">
    <form action="" method="get" class="form-inline">
      {% csrf_token %} {% for field in form.visible_fields %}
      <div class="form-group m-4">{{ field.label_tag }}&nbsp;{{ field }}</div>
      {% endfor %}
      <hr class="separator" />
      <a
        href="depreciacionAcumCsv?planta={{form.data.planta}}&periodo={{form.data.periodo}}"
        target="depreciacionCsv"
        class="btn btn-primary btn-sm"
        style="width: 100px"
        >CSV</a
      >
      <input type="submit" class="btn btn-primary btn-sm" value="Filtrar" style="width: 100px" />
    </form>
  </div>

  {% include "../paginacion.html" %}
  <table class="table table-hover">
    <thead>
      <tr>
        <!-- <th scope='col'>#</th> -->
        <th scope="col">Rubro</th>
        <th scope="col">Descripción</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Factura</th>
        <th scope="col">Planta ID</th>
        <th scope="col">Planta Nombre</th>
        <th scope="col" style="text-align: center">Fecha Compra</th>
        <th scope="col" style="text-align: center">Fecha Adj. Concesión</th>
        <th scope="col" style="text-align: center">Fecha Dep. Definitiva</th>
        <th scope="col" style="text-align: center">Fecha Termino Dep.</th>
        <th scope="col" style="text-align: center">Vida Útil Proy.</th>
        <th scope="col" style="text-align: right">Valor Adquisición</th>
        <th scope="col" style="text-align: right">Depreciación Acumulada</th>
        <th scope="col" style="text-align: right">Depreciación Ejercicio</th>
        <th scope="col" style="text-align: right">Total Depreciación</th>
        <th scope="col" style="text-align: right">Neto</th>
      </tr>
    </thead>
    <tbody>
      {% for depmes in depreciacion_list %}
      <tr>
        <!-- <th scope="row">{{ page_obj.start_index | add:forloop.counter0 }}</th> -->
        <td>
          {% if depmes.activo__tipoActivo == 'A' %} Acondicionamiento
          <!-- -->
          {% elif depmes.activo__tipoActivo == 'E' %} Edificio
          <!-- -->
          {% elif depmes.activo__tipoActivo == 'O' %} Obras en curso
          <!-- -->
          {% elif depmes.activo__tipoActivo == 'M' %} Maquinaria
          <!-- -->
          {% elif depmes.activo__tipoActivo == 'C' %} Equipos de computación
          <!-- -->
          {% elif depmes.activo__tipoActivo == 'S' %} Software
          <!-- -->
          {% elif depmes.activo__tipoActivo == 'U' %} Muebles y Utiles
          <!-- -->
          {% else %} No definido
          <!-- -->
          {% endif %}
        </td>
        <td>{{ depmes.activo__nombre }}</td>
        <td>{{ depmes.activo__proveedor }}</td>
        <td>{{ depmes.activo__numero_factura }}</td>
        <td>{{ depmes.planta__nombre }}</td>
        <td>{{ depmes.planta__ubicacion }}</td>
        <td align="middle">{{ depmes.activo__fecha_ingreso|date:'d/m/Y' }}</td>
        <td align="middle">{{ depmes.planta__fecha_inicio|date:'d/m/Y' }}</td>
        <td align="middle">{{ depmes.planta__fecha_depreciacion|date:'d/m/Y' }}</td>
        <td align="middle">{{ depmes.planta__fecha_termino|date:'d/m/Y' }}</td>
        <td align="middle">{{ depmes.duracion_real }}</td>
        <td align="right">{{ depmes.activo__valor }}</td>
        <td align="right">{{ depmes.dep_acum }}</td>
        <td align="right">{{ depmes.acum_anual }}</td>
        <td align="right">{{ depmes.acum_total}}</td>
        <td align="right">{{ depmes.neto }}</td>
        <!--
(+) Valor de adquisición $ 12.517.950.607 (Costo compra y de ingreso en la base)
(-) Depreciación Acumulada $ 3.550.771.253 (acumulada al 31-12-2021)
(-) Depreciación del ejercicio $ 1.485.161.073 (desde Ene a Dic 2022)
Total Depreciacion $ 5.035.932.326 (suma de las depreciaciones)
(=) ACTIVOS NETOS $ 7.482.018.281 (Valor de adquisición, menos Total Depreciación).


        -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "../paginacion.html" %}
</div>

{% endblock %}
