{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <a href="/">
                <img src="http://systechchile.cl/Images/dual_logo.png" class="img-fluid" />
            </a>
        </div>
    </div>

    <div class="card card-block" style="padding: 8px;">
        <h2 class="card-text">Activos por Planta
            <a href="javascript:history.back()" class="btn btn-primary btn-sm float-right">Volver</a>
        </h2>
    </div>    

    <div class="row mt-5">
        <div class="col">
            <!-- <div class="card"> -->
            <!-- <div class="card-body"> -->
            {% if planta_list %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        <th>Cantidad Items</th>
                        <th>Fecha Apertura</th>
                        <th>Detalle</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for planta in planta_list %}
                        <tr>
                        <td>{{ planta.nombre }}</td>
                        <td>{{ planta.ubicacion }}</td>
                        <td align="right">{{ planta.cantidad }}</td>
                        <td>{{ planta.fecha_apertura|date:'d/m/Y' }}</td>
                        <td><a href="{% url 'plantaActivo' planta.id %}" class="btn btn-secondary btn-sm my-0 ">Activos</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hay plantas disponibles.</p>
            {% endif %}
            <!-- </div> -->
            <!-- </div> -->
    </div>
</div>    

{% endblock %}